iText/Web References/OnBase/OnBaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://com.cjs.onbaseservice" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://com.cjs.onbaseservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://com.cjs.onbaseservice">
      <s:element name="GetBase64Document">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="systemId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dktId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBase64DocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBase64DocumentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBase64Documents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="tns:ArrayOfParameter" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Parameter" nillable="true" type="tns:Parameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Parameter">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ParameterName" type="tns:PARAM_NAMES" />
          <s:element minOccurs="0" maxOccurs="1" name="ParameterValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PARAM_NAMES">
        <s:restriction base="s:string">
          <s:enumeration value="CaseId" />
          <s:enumeration value="SystemId" />
          <s:enumeration value="DocketId" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetBase64DocumentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBase64DocumentsResult" type="tns:ReturnDocResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReturnDocResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnDocs" type="tns:ArrayOfReturnDoc" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfReturnDoc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReturnDoc" nillable="true" type="tns:ReturnDoc" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReturnDoc">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Index" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Base64Document" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBase64DocumentSoapIn">
    <wsdl:part name="parameters" element="tns:GetBase64Document" />
  </wsdl:message>
  <wsdl:message name="GetBase64DocumentSoapOut">
    <wsdl:part name="parameters" element="tns:GetBase64DocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetBase64DocumentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBase64Documents" />
  </wsdl:message>
  <wsdl:message name="GetBase64DocumentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBase64DocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetBase64DocumentHttpGetIn">
    <wsdl:part name="systemId" type="s:string" />
    <wsdl:part name="dktId" type="s:string" />
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBase64DocumentHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetBase64DocumentHttpPostIn">
    <wsdl:part name="systemId" type="s:string" />
    <wsdl:part name="dktId" type="s:string" />
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBase64DocumentHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="OnBaseServiceSoap">
    <wsdl:operation name="GetBase64Document">
      <wsdl:input message="tns:GetBase64DocumentSoapIn" />
      <wsdl:output message="tns:GetBase64DocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBase64Documents">
      <wsdl:input message="tns:GetBase64DocumentsSoapIn" />
      <wsdl:output message="tns:GetBase64DocumentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="OnBaseServiceHttpGet">
    <wsdl:operation name="GetBase64Document">
      <wsdl:input message="tns:GetBase64DocumentHttpGetIn" />
      <wsdl:output message="tns:GetBase64DocumentHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="OnBaseServiceHttpPost">
    <wsdl:operation name="GetBase64Document">
      <wsdl:input message="tns:GetBase64DocumentHttpPostIn" />
      <wsdl:output message="tns:GetBase64DocumentHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OnBaseServiceSoap" type="tns:OnBaseServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBase64Document">
      <soap:operation soapAction="http://com.cjs.onbaseservice/GetBase64Document" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBase64Documents">
      <soap:operation soapAction="http://com.cjs.onbaseservice/GetBase64Documents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OnBaseServiceSoap12" type="tns:OnBaseServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBase64Document">
      <soap12:operation soapAction="http://com.cjs.onbaseservice/GetBase64Document" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBase64Documents">
      <soap12:operation soapAction="http://com.cjs.onbaseservice/GetBase64Documents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OnBaseServiceHttpGet" type="tns:OnBaseServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetBase64Document">
      <http:operation location="/GetBase64Document" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OnBaseServiceHttpPost" type="tns:OnBaseServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetBase64Document">
      <http:operation location="/GetBase64Document" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OnBaseService">
    <wsdl:port name="OnBaseServiceSoap" binding="tns:OnBaseServiceSoap">
      <soap:address location="http://cveaweb-2/OnBaseService/OnBaseService.asmx" />
    </wsdl:port>
    <wsdl:port name="OnBaseServiceSoap12" binding="tns:OnBaseServiceSoap12">
      <soap12:address location="http://cveaweb-2/OnBaseService/OnBaseService.asmx" />
    </wsdl:port>
    <wsdl:port name="OnBaseServiceHttpGet" binding="tns:OnBaseServiceHttpGet">
      <http:address location="http://cveaweb-2/OnBaseService/OnBaseService.asmx" />
    </wsdl:port>
    <wsdl:port name="OnBaseServiceHttpPost" binding="tns:OnBaseServiceHttpPost">
      <http:address location="http://cveaweb-2/OnBaseService/OnBaseService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>